# Python Arithmetic Operators

Beberapa operasi yang seringkali digunakan adalah

Pangkat (**)

Perkalian (*)

Pembagian (\)

Pembulatan ke bawah (\\)

Modulus (%)

Penambahan (+)

Pengurangan (-)

## Pangkat

Pada Python apabila kedua bilangan integer maka hasil pemangkatannya adalah berupa integer juga.

Bila minimal salah satu bilangan merupakan float maka hasil pemangkatannya adalah berupa float.

Misal: 
	
    print (2**2)
	output: 4

	print (2.**2)
	output: 4.0 atau 4.

	print (2.**2.)
	output: 4.0 atau 4.

## Perkalian

Ketentuan yang berlaku pada operasi pangkat juga berlaku pada perkalian. Yang membedakan adalah simbol, ** untuk pangkat dan * untuk perkalian.

## Pembagian

Hasil dari operasi pembagian adalah selalu bilangan dengan tipe data float. Bilangan sebelum slash disebut dividend, sedangkan bilangan setelah slash disebut divisor.

## Pembulatan ke bawah

Operasi ini hampir sama dengan pembagian, tetapi keluaran yang dihasilkan selalu berupa integer dan pembulatan ke bawah.

	misal: 	
        print (5//4)			print (-5//4)
		output: 1			output: -2

		print (17//2)			print (-17//2)
		output: 8			output: -9

## Modulus

Operasi ini menghasilkan sisa dari suatu operasi pembagian.
	misal:
    
		print (9%2)
		output: 1
		9 / 2 = 4.5

ini artinya bahwa hasil pembagian kedua bilangan tidak bulat, tetapi ada sisa pembagiannya. Untuk mengetahui sisa pembagian, dilakukan hal berikut:
		
		2 * 4 = 8
		9 â€“ 8 = 1

## Penjumlahan dan Pengurangan

Ketentuan yang berlaku pada operasi pangkat dan perkalian juga berlaku pada operasi penjumlahan dan pengurangan. Yang membedakan adalah simbolnya.

## Operasi Matematika

Pada kenyataannya, operasi matematika yang digunakan merupakan gabungan dari beberapa operasi. Dalam satu pernyataan kita dapat menemukan beberapa operasi, seperti penjumlahan, pengurangan, perkalian. Oleh sebab itu, kita harus mengetahui operasi mana yang harus pertama diselesaikan. Maka, ketentuan yang berlaku adalah sebagai berikut:

I. Prioritas operasi: dari prioritas pertama ke terakhir adalah sebagai berikut: ** --> (*, /, %) --> (+ dan -)

II. Operasi di dalam dan luar kurung buka-tutup : operasi di dalam kurung buka-tutup didahulukan

III. Arah peroperasian: secara umum arah peroperasian dari kiri ke kanan, kecuali pada eksponensial. Contoh:

			2 ** 2 ** 3 = 2^(2^3) = 256
			bukan 2^2 = 4 --> 4 ^3 = 64

# Fungsi

In [1]:
def square(number):
    return number**2

Kita definisikan fungsi menggunakan kata kunci `def`. Berikutnya adalah nama fungsi, yang dalam hal ini adalah `square`. Kita kemudian menyertakan input fungsi dalam tanda kurung, dalam hal ini `number`. Kita menggunakan `:` untuk memberi tahu Python bahwa kita siap menulis isi fungsi.
Dalam hal ini tubuh fungsinya sangat sederhana; kita mengembalikan kuadrat `number` (kita menggunakan `**` untuk eksponen dengan Python). Kata kunci `return` menandakan bahwa fungsi tersebut akan menghasilkan beberapa keluaran. Tidak setiap fungsi akan memiliki pernyataan `return`, tetapi banyak yang akan memilikinya. Pernyataan `return` mengakhiri suatu fungsi.
Mari kita lihat hasil fungsi kita:

In [2]:
# kita dapat menyimpan output fungsi dalam variabel
squared = square(5)

print(squared)

my_number = 10
# kita juga dapat menggunakan variabel sebagai input fungsi
print(square(my_number))

25
100

Kita dapat meneruskan input yang berbeda ke fungsi `square`, termasuk variabel. Ketika kita menginput float ke `square`, fungsi mengembalikan float. Ketika kita menginput sebuah bilangan bulat atau integer, `square` mengembalikan sebuah bilangan bulat pula. Dalam kedua kasus, input ditafsirkan oleh fungsi sebagai argumen `number`.
Tidak semua input akan valid, perhatikan contoh jika kita menginput string.

In [3]:
print(square('1'))

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

### Latihan

1. Tulislah sebuah fungsi untuk menghitung pangkat tiga suatu bilangan.
2. Tulis sebuah fungsi, `say_hello` yang mengambil variabel nama dan mencetak "Halo nama". `say_hello("Danu")` harus mencetak `"Hello Danu"`.

### Mengapa Fungsi?
Kita dapat melihat bahwa fungsi berguna untuk menangani input pengguna, tetapi juga berguna dalam banyak kasus lainnya. Salah satu contohnya adalah ketika kita ingin melakukan suatu tindakan beberapa kali pada input yang berbeda. Jika saya ingin mengkuadratkan sekelompok angka, khususnya angka antara 1 dan 10, saya dapat melakukannya dengan cukup mudah (nanti kita akan belajar tentang iterasi yang akan membuatnya lebih mudah!)

In [4]:
1**2
2**2
3**2
4**2
5**2
6**2
7**2
8**2
9**2

81

In [5]:
print(1**2)
print(2**2)
print(3**2)
print(4**2)
print(5**2)
print(6**2)
print(7**2)
print(8**2)
print(9**2)

1
4
9
16
25
36
49
64
81

Namun, bagaimana jika sekarang kita ingin kembali dan menambahkan dua ke semua jawaban? Jelas mengubah setiap instance bukanlah cara yang tepat untuk melakukannya. Mari kita mendefinisikan fungsi untuk melakukan pekerjaan untuk kita.

In [6]:
def fungsi(x):
    print(x**2 + 2)

Sekarang kita bisa memanggil fungsi pada setiap elemen. Jika kita ingin mengubah output, kita hanya perlu mengubah fungsi di satu tempat.

In [7]:
fungsi(1)
fungsi(2)
fungsi(3)
fungsi(4)
fungsi(5)
fungsi(6)
fungsi(7)
fungsi(8)
fungsi(9)

3
6
11
18
27
38
51
66
83

Membagi pekerjaan menjadi beberapa fungsi sering kali merupakan cara untuk membuat kode lebih modular dan mudah dipahami. Ini juga membantu memastikan kode Anda benar. Jika kita menulis sebuah fungsi dan mengujinya hingga benar atau sesuai ekspektasi, kita tahu itu pun akan benar setiap kali kita menggunakannya. Jika kita tidak memecah kode menjadi suatu fungsi, sangat mudah untuk membuat kesalahan ketik atau kesalahan lain yang akan menyebabkan program kita rusak.

## Syntax

Ketika instruksi kita ke komputer menjadi lebih rumit, kita perlu mengaturnya dengan cara yang dimengerti komputer. Kita telah melihat contohnya dengan fungsi `square` kita. Ada urutan khusus untuk kata-kata dan simbol tertentu yang harus kita gunakan untuk memberi tahu Python bagian mana dari fungsi yang merupakan definisi dan bagian mana yang merupakan "badan", atau bagian mana yang merupakan nama fungsi dan bagian mana yang merupakan argumen. Kita menyebut aturan untuk mengatur kode yaitu **syntax** bahasa pemrograman.

Syntax Python sangat efisien sehingga kode dapat dibaca dan intuitif. Python menyelesaikan ini dengan menggunakan whitespace untuk mengatur kode. Mari kita lihat beberapa contoh.

In [8]:
def contoh_a():
    print('contoh_a sedang running')
    print('mengembalikan nilai "a"')
    return 'a'

contoh_a()

contoh_a sedang running
mengembalikan nilai "a"

'a'

In [9]:
def contoh_b():
    print('contoh_b sedang running')
    print('exit tanpa mengembalikan nilai')

contoh_b()

contoh_b sedang running
exit tanpa mengembalikan nilai

Fungsi `contoh_a` diakhiri dengan pernyataan return, tetapi `contoh_b` tidak memiliki pernyataan return. Bagaimana Python tahu di mana `contoh_b` berakhir? Kita menggunakan indentation untuk menunjukkan line mana yang merupakan bagian dari fungsi dan mana yang tidak. Baris indentasi semua dikelompokkan bersama dalam definisi fungsi. Kita akan melihat format ini lagi untuk mengontrol apakah bagian kode tertentu dijalankan.

# Basic I/O Operations

# Mengimpor dan Mengekspor Data

Sejauh ini kita hanya berurusan dengan data yang telah kita buat dengan Python. Menghasilkan data random sangat membantu untuk testing, tetapi kita ingin bekerja dengan data nyata. Paling sering data itu akan disimpan dalam file, baik secara lokal di komputer atau online. Dalam notebook ini kita akan belajar cara membaca dan menulis data ke file.

## `open`

Dalam Python kita berinteraksi dengan file pada disk menggunakan perintah `open` dan `close`. Kami telah menyertakan file dalam folder `data` bernama `sample.txt`. Mari buka dengan perintah open dan baca isinya.

In [11]:
f = open('./data/sample.txt', 'r')
data = f.read()
f.close()

print(data)
print(f)

Hello!
Congratulations!
You've read in data from a file.
<_io.TextIOWrapper name='./data/sample.txt' mode='r' encoding='cp1252'>

Perhatikan bahwa kita `open` file dan menetapkannya ke `f`, `read` data dari `f`, lalu menutup/close `f`. Apa itu `f`? Ini disebut **file handle**. Ini adalah objek yang menghubungkan Python ke file yang kita `open`. Kita `read` data menggunakan koneksi ini, dan kemudian setelah kita selesai, kita `close` koneksi. Merupakan hal yang sangat dianjurkan untuk `close` file handle setelah kita selesai menggunakannya

Berikut merupakan cara melakukan langkah-langkah tersebut secara otomatis menggunakan kata kunci `with` dalam Python.

In [12]:
# f secara otomatis ditutup di akhir "isi" dari with
with open('./data/sample.txt', 'r') as f:
    print(f.read())

print(f)

Hello!
Congratulations!
You've read in data from a file.
<_io.TextIOWrapper name='./data/sample.txt' mode='r' encoding='cp1252'>

Kita juga dapat membaca lines satu persatu dari sebuah file.

In [13]:
with open('./data/sample.txt', 'r') as f:
    print(f.readline())

Hello!

In [14]:
with open('./data/sample.txt', 'r') as f:
    print(f.readlines())

['Hello!\n', 'Congratulations!\n', "You've read in data from a file."]

Menulis data ke file sangat mirip dengan langkah di atas. Perbedaan utamanya adalah ketika kita `open` file, kita akan menggunakan flag `'w'` sebagai ganti dari `'r'`.

In [15]:
with open('./data/my_data.txt', 'w') as f:
    f.write('This is a new file.')
    f.write('I am practicing writing data to disk.')

with open('./data/my_data.txt', 'r') as f:
    my_data = f.read()

print(my_data)

This is a new file.I am practicing writing data to disk.

Tidak peduli seberapa sering kita menjalankan sel di atas, output yang sama akan dicetak. Membuka file dengan tanda `'w'` akan menimpa isi file. Jika kita ingin menambahkan apa yang sudah ada dalam file, kita harus membuka file dengan flag `'a'` (`'a'` singkatan dari _append_).

In [16]:
with open('./data/my_data.txt', 'a') as f:
    f.write('\nAdding a new line to the file.')

with open('./data/my_data.txt', 'r') as f:
    my_data = f.read()

print(my_data)

This is a new file.I am practicing writing data to disk.
Adding a new line to the file.

Kita harus selalu berhati-hati saat menulis ke disk, karena kita bisa menimpa atau mengubah data secara tidak sengaja. Akan mudah untuk melakukan kesalahan saat bekerja dengan file, karena kita mungkin tidak tahu sebelumnya jika file yang kita coba akses ada, atau kita mungkin akan sering tertukar dalam menggunakan `'r'`, `'w'`, dan `'a'`.

In [19]:
# jika file tidak ada
# kita tidak bisa membukanya untuk membaca
# tapi kita bisa membukanya untuk menulis

with open('./data/fail1.txt', 'r') as f:
    f.read()

FileNotFoundError: [Errno 2] No such file or directory: './data/fail1.txt'

In [20]:
# kita tidak bisa membaca file yang terbuka untuk ditulis

with open('./data/fail.txt', 'w') as f:
    f.read()

UnsupportedOperation: not readable

In [21]:
# dan kita tidak dapat menulis ke file yang terbuka untuk dibaca

with open('./data/sample.txt', 'r') as f:
    f.write('This will fail')

UnsupportedOperation: not writable

Bisakah kita mencegah beberapa kesalahan ini? Bagaimana kita mengetahui file apa yang ada di disk?

## Modul `os`

Python memiliki modul untuk menavigasi sistem file komputer yang disebut `os`. Ada banyak tool yang berguna dalam modul `os`, tetapi ada dua fungsi yang paling sering digunakan untuk menemukan file.

In [22]:
import os

# daftar isi direktori saat ini
# ('.' mengacu pada direktori saat ini)
os.listdir('.')

['.ipynb_checkpoints',
 'Basic_Intermediate_Python_Intro.ipynb',
 'Basic_Intermediate_Python_IO.ipynb',
 'Basic_Intermediate_Python_OOP.ipynb',
 'Basic_Intermediate_Python_Struct.ipynb',
 'data',
 'PythonDasar1.ipynb',
 'PythonDasar2.ipynb',
 'PythonDasar3.ipynb',
 'PythonDasar4.ipynb',
 'static']

Perintah `listdir` adalah yang lebih sederhana dari dua fungsi yang akan kita bahas. Perintah ini mencantumkan konten dalam path direktori yang kita tentukan. Ketika kita menuliskan `'.'` sebagai argumen, `listdir` akan melihat ke dalam direktori saat ini. Kita dapat melihat beberapa file lainnya seperti notebook, serta subdirektori seperti contoh subdirektori `data`. Kita bisa mengetahui apa yang ada di subdirektori `data` dengan melihat di `'./data'`.

In [24]:
os.listdir('./data')

['bad_csv.csv',
 'csv_sample.txt',
 'customers.csv',
 'eog_djvu.txt',
 'eog_djvu.txt.gz',
 'eog_djvu_scrambled.txt.gz',
 'example_df.json',
 'fail.txt',
 'gas_consumption.csv',
 'library.json',
 'my_data.txt',
 'orders.csv',
 'pd_write.csv',
 'PEP_2016_PEPANNRES.csv',
 'pickle_example.pkl',
 'products.csv',
 'sample.txt',
 'sample_array.npy',
 'sample_array.txt',
 'short_text.txt',
 'short_text.txt.gz',
 'yelp.json.gz']

Bagaimana jika kita ingin menemukan semua file dan subdirektori di bawah direktori di suatu tempat di komputer kita? Dengan `listdir` kita hanya melihat file dan subdirektori di bawah direktori tertentu yang kita cari. Kita tidak dapat menggunakan `listdir` untuk mencari melalui subdirektori secara otomatis. Untuk ini kita perlu menggunakan `walk`, yang "berjalan" melalui semua subdirektori di bawah direktori pilihan kita. `walk` salah satu tool yang sangat berguna (bersama dengan sub-modul `os.path`) untuk bekerja dengan file dengan Python, terutama jika Anda bekerja dengan banyak file data yang berbeda sekaligus.

## File CSV

Salah satu format yang paling sederhana dan paling umum untuk menyimpan data adalah sebagai comma-separated values (CSV).

In [25]:
with open('./data/csv_sample.txt', 'r') as f:
    csv = f.read()

print(csv)

index,name,age
0,Dylan,28
1,Terrence,54
2,Mya,31

Format ini sering digunakan untuk merepresentasikan tabel data. Biasanya CSV akan memiliki baris (dipisahkan dengan karakter baris baru, `'\n'`) dan kolom (dipisahkan dengan koma). Kita dapat menggunakan format khusus CSV untuk membuat list berisi list yang merepresentasikan tabel.

In [26]:
list_table = []
with open('./data/csv_sample.txt', 'r') as f:
    for line in f.readlines():
        list_table.append(line.strip().split(','))

list_table

[['index', 'name', 'age'],
 ['0', 'Dylan', '28'],
 ['1', 'Terrence', '54'],
 ['2', 'Mya', '31']]

Namun, kita dapat bekerja dengan data tabular dengan lebih mudah menggunakan Pandas DataFrame. Pandas menyediakan metode `read_csv` untuk membaca data secara langsung ke dalam DataFrame.

In [27]:
import pandas as pd

df = pd.read_csv('./data/csv_sample.txt', index_col=0)
df

           name  age
index
0         Dylan   28
1      Terrence   54
2           Mya   31

Metode `read_csv` sangat fleksibel untuk menangani formatting kumpulan data yang berbeda. Beberapa kumpulan data akan menyertakan header kolom sementara yang lain mungkin tidak. Beberapa kumpulan data akan menyertakan indeks sementara yang lain mungkin tidak. Beberapa kumpulan data mungkin memiliki nilai yang dipisahkan oleh tab, titik koma, atau karakter lain. Ada opsi dalam metode `read_csv` untuk menangani semua ini. Anda dapat membacanya di [dokumentasi Pandas `read_csv`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html).

In [28]:
# contoh pengunduhan
# dan mengimpor data real menggunakan `read_csv`

csv_url = 'https://www1.ncdc.noaa.gov/pub/data/cdo/samples/PRECIP_HLY_sample_csv.csv'
    
precip = pd.read_csv(csv_url)
precip.head()

,STATION,STATION_NAME,ELEVATION,LATITUDE,LONGITUDE,DATE,HPCP,Measurement Flag,Quality Flag
0,COOP:310301,ASHEVILLE NC US,682.1,35.5954,-82.5568,20100101 00:00,99999,],
1,COOP:310301,ASHEVILLE NC US,682.1,35.5954,-82.5568,20100101 01:00,0,g,
2,COOP:310301,ASHEVILLE NC US,682.1,35.5954,-82.5568,20100102 06:00,1,,

In [29]:
# kita juga bisa menggunakan pandas untuk menulis CSV
# menggunakan metode to_csv DataFrame

pd.DataFrame({'a': [0, 3, 10], 'b': [True, True, False]}).to_csv('./data/pd_write.csv')

pd.read_csv('./data/pd_write.csv', index_col=0)

    a      b
0   0   True
1   3   True
2  10  False

Terkadang CSV tidak akan sempurna. Misalnya, mungkin baris yang berbeda memiliki jumlah koma yang berbeda. Hal ini membuat sulit untuk menafsirkan isi file sebagai tabel.

In [30]:
# apa yang terjadi jika kita mencoba membaca ini
# ke dalam DataFrame menggunakan read_csv?

pd.read_csv('./data/bad_csv.csv', index_col = 0)

        name   age
index
0      Dylan  27.0
1         54   NaN
2        Mya  31.0

Metode `read_csv` Panda akan melakukan yang terbaik untuk membuat tabel dari CSV yang formatnya buruk, tetapi mungkin akan membuat kesalahan. Misalnya, 54 ditafsirkan sebagai nama, bukan usia, karena hanya ada 2 kolom di baris file tersebut. Dataset akan sering berisi kesalahan seperti pemformatan yang buruk, data yang hilang, atau kesalahan ketik.

## JSON

JSON adalah singkatan dari JavaScript Object Notation. JavaScript adalah bahasa umum untuk membuat aplikasi web, dan file JSON digunakan untuk mengumpulkan dan mengirimkan informasi antar aplikasi JavaScript. Akibatnya, banyak data di internet ada dalam format file JSON. Misalnya, Twitter dan Google Maps menggunakan JSON.

File JSON pada dasarnya adalah struktur data yang dibangun dari nested dictionaries dan lists. Mari kita buat contoh kita sendiri dan kemudian kita akan memeriksa contoh yang diunduh dari internet.

In [31]:
book1 = {'title': 'The Prophet',
         'author': 'Khalil Gibran',
         'genre': 'poetry',
         'tags': ['religion', 'spirituality', 'philosophy', 'Lebanon', 'Arabic', 'Middle East'],
         'book_id': '811.19',
         'copies': [{'edition_year': 1996,
                     'checkouts': 486,
                     'borrowed': False},
                    {'edition_year': 1996,
                     'checkouts': 443,
                     'borrowed': False}]
         }
         
book2 = {'title': 'The Little Prince',
         'author': 'Antoine de Saint-Exupery',
         'genre': 'children',
         'tags': ['fantasy', 'France', 'philosophy', 'illustrated', 'fable'],
         'id': '843.912',
         'copies': [{'edition_year': 1983,
                     'checkouts': 634,
                     'borrowed': True,
                     'due_date': '2017/02/02'},
                    {'edition_year': 2015,
                     'checkouts': 41,
                     'borrowed': False}]
         }

library = [book1, book2]
library

[{'title': 'The Prophet',
  'author': 'Khalil Gibran',
  'genre': 'poetry',
  'tags': ['religion',
   'spirituality',
   'philosophy',
   'Lebanon',
   'Arabic',
   'Middle East'],
  'book_id': '811.19',
  'copies': [{'edition_year': 1996, 'checkouts': 486, 'borrowed': False},
   {'edition_year': 1996, 'checkouts': 443, 'borrowed': False}]},
 {'title': 'The Little Prince',
  'author': 'Antoine de Saint-Exupery',
  'genre': 'children',
  'tags': ['fantasy', 'France', 'philosophy', 'illustrated', 'fable'],
  'id': '843.912',
  'copies': [{'edition_year': 1983,
    'checkouts': 634,
    'borrowed': True,
    'due_date': '2017/02/02'},
   {'edition_year': 2015, 'checkouts': 41, 'borrowed': False}]}]

Kita memiliki dua buku di `library` kita. Kedua buku memiliki beberapa properti umum: judul, penulis, id, dan tag. Setiap buku dapat memiliki beberapa tag, jadi kita menyimpan data tersebut sebagai list. Selain itu, dapat ada beberapa salinan dari setiap buku, dan setiap salinan juga memiliki beberapa informasi unik seperti tahun buku itu dicetak dan berapa kali buku itu di-checkout. Perhatikan bahwa jika sebuah buku di-checkout, buku itu juga memiliki tanggal jatuh tempo. Lebih mudah untuk menyimpan informasi tentang banyak salinan sebagai list berisi dictionary, karena setiap salinan memiliki judul, penulis, dll yang sama.

Struktur ini khas dari file JSON. Dengan ini, kita memiliki keuntungan mengurangi redundansi data. Kita hanya menyimpan penulis dan judul satu kali, meskipun ada beberapa salinan buku. Selain itu, kita tidak menyimpan tanggal jatuh tempo untuk salinan yang tidak di-checkout.

Jika kita meletakkan data ini dalam sebuah tabel, kita harus menduplikasi banyak informasi. Juga, karena hanya satu salinan di perpustakaan kita yang di-checkout, kita juga memiliki kolom dengan banyak data yang hilang.

|index|title|author|id|genre|tags|edition_year|checkouts|borrowed|due_date|
|:---:|:---:|:----:|::|:---:|:--:|:----------:|:-------:|:------:|:------:|
|0|The Prophet|Khalil Gibran|811.19|poetry|religion, spirituality, philosophy, Lebanon, Arabic, Middle East|1996|486|False|Null|
|1|The Prophet|Khalil Gibran|811.19|poetry|religion, spirituality, philosophy, Lebanon, Arabic, Middle East|1996|443|False|Null|
|2|The Little Prince|Antoine de Saint-Exupery|843.912|children|fantasy, France, philosophy, illustrated, fable|1983|634|True|2017/02/02|
|3|The Little Prince|Antoine de Saint-Exupery|843.912|children|fantasy, France, philosophy, illustrated, fable|2015|41|False|Null|

Ini sangat mubazir. Karena file JSON dimaksudkan untuk dibagikan dengan cepat melalui internet, penting bahwa file tersebut berukuran kecil untuk mengurangi jumlah resources yang diperlukan untuk menyimpan dan mengirimkannya.

Kita dapat menulis `library` kita ke disk menggunakan modul `json`.

In [32]:
import json

with open('./data/library.json', 'w') as f:
    json.dump(library, f, indent=2)

In [33]:
with open('./data/library.json', 'r') as f:
    reloaded_library = json.load(f)

reloaded_library

[{'title': 'The Prophet',
  'author': 'Khalil Gibran',
  'genre': 'poetry',
  'tags': ['religion',
   'spirituality',
   'philosophy',
   'Lebanon',
   'Arabic',
   'Middle East'],
  'book_id': '811.19',
  'copies': [{'edition_year': 1996, 'checkouts': 486, 'borrowed': False},
   {'edition_year': 1996, 'checkouts': 443, 'borrowed': False}]},
 {'title': 'The Little Prince',
  'author': 'Antoine de Saint-Exupery',
  'genre': 'children',
  'tags': ['fantasy', 'France', 'philosophy', 'illustrated', 'fable'],
  'id': '843.912',
  'copies': [{'edition_year': 1983,
    'checkouts': 634,
    'borrowed': True,
    'due_date': '2017/02/02'},
   {'edition_year': 2015, 'checkouts': 41, 'borrowed': False}]}]

In [34]:
# perhatikan bahwa jika kita memuatnya tanpa JSON
# file akan ditafsirkan sebagai teks biasa

with open('./data/library.json', 'r') as f:
    library_string = f.read()

#ini bukan yang kita inginkan
library_string

'[\n  {\n    "title": "The Prophet",\n    "author": "Khalil Gibran",\n    "genre": "poetry",\n    "tags": [\n      "religion",\n      "spirituality",\n      "philosophy",\n      "Lebanon",\n      "Arabic",\n      "Middle East"\n    ],\n    "book_id": "811.19",\n    "copies": [\n      {\n        "edition_year": 1996,\n        "checkouts": 486,\n        "borrowed": false\n      },\n      {\n        "edition_year": 1996,\n        "checkouts": 443,\n        "borrowed": false\n      }\n    ]\n  },\n  {\n    "title": "The Little Prince",\n    "author": "Antoine de Saint-Exupery",\n    "genre": "children",\n    "tags": [\n      "fantasy",\n      "France",\n      "philosophy",\n      "illustrated",\n      "fable"\n    ],\n    "id": "843.912",\n    "copies": [\n      {\n        "edition_year": 1983,\n        "checkouts": 634,\n        "borrowed": true,\n        "due_date": "2017/02/02"\n      },\n      {\n        "edition_year": 2015,\n        "checkouts": 41,\n        "borrowed": false\n      }\n    ]\n  }\n]'

In [35]:
# Pandas juga bisa read_json
# perhatikan cara menyusun tabel
# apakah itu mewakili data dengan baik?

pd.read_json('./data/library.json')

,title,author,genre,tags,book_id,copies,id
0,The Prophet,Khalil Gibran,poetry,"[religion, spirituality, philosophy, Lebanon, ...",811.19,"[{'edition_year': 1996, 'checkouts': 486, 'bor...",NaN
1,The Little Prince,Antoine de Saint-Exupery,children,"[fantasy, France, philosophy, illustrated, fable]",NaN,"[{'edition_year': 1983, 'checkouts': 634, 'bor...",843.912

In [36]:
# dan melakukan penyimpanan to_json
df.to_json('./data/example_df.json')

Kita dapat mengunduh file JSON dengan banyak cara. Terkadang kita akan mengunduhnya secara manual, tetapi kita juga dapat menggunakan `wget`. Seringkali kita akan terhubung ke API situs web yang akan merespons menggunakan JSON.

Metode `read_json` Pandas mampu menghubungkan langsung ke URL (baik itu alamat file JSON atau koneksi API) dan membaca JSON tanpa menyimpan file ke komputer kita.

In [37]:
pd.read_json('https://api.github.com/repos/pydata/pandas/issues?per_page=5')

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,updated_at,closed_at,author_association,active_lock_reason,draft,pull_request,body,reactions,timeline_url,performed_via_github_app
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/44829,1075770992,PR_kwDOAA0YD84vn7qm,44829,BUG: SparseArray.min/max skipna,...,2021-12-09 16:32:42+00:00,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx\r\n- [x] tests added / pass...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/44828,1075693679,PR_kwDOAA0YD84vnrQa,44828,REGR: resampling DataFrame with DateTimeIndex ...,...,2021-12-09 15:20:02+00:00,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #43329\r\n- [ ] tests added / pas...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/44827,1075537272,PR_kwDOAA0YD84vnKEZ,44827,PERF: faster dataframe construction from recarray,...,2021-12-09 16:33:58+00:00,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #44826\r\n- [ ] tests added / pas...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/44826,1075530896,I_kwDOAA0YD85AG0yQ,44826,PERF: dataframe construction from recarray is ...,...,2021-12-09 12:43:59+00:00,NaT,CONTRIBUTOR,NaN,NaN,NaN,### \r\n\r\n- [X] I have checked that this iss...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/44825,1075330235,I_kwDOAA0YD85AGDy7,44825,BUG: rolling with method='table' and then appl...,...,2021-12-09 09:17:23+00:00,NaT,NONE,NaN,NaN,NaN,### \r\n\r\n- [X] I have checked that this iss...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN

## Compressed files (Gzip)

Cara lain kita menghemat penyimpanan dan network resources adalah dengan menggunakan **compression**. Sering kali kumpulan data akan berisi pola yang dapat digunakan untuk mengurangi jumlah ruang yang dibutuhkan untuk menyimpan informasi.

Contoh sederhana adalah daftar angka berikut: 10, 10, 10, 2, 3, 3, 3, 3, 3, 50, 50, 1, 1, 50, 10, 10, 10, 10

Daripada menuliskan daftar lengkap angka (18 bilangan bulat), kita dapat mewakili informasi yang sama hanya dengan 14 angka: (3, 10), (1, 2), (5, 3), (2, 50), ( 2, 1), (1, 50), (4, 10)

Di sini angka pertama dalam setiap pasangan adalah jumlah pengulangan, dan angka kedua dalam pasangan adalah nilai sebenarnya. Kita telah berhasil mengurangi jumlah angka yang kita butuhkan untuk mewakili data yang sama. Sebagian besar bentuk kompresi menggunakan ide yang sama, meskipun implementasi sebenarnya biasanya lebih kompleks.

Dalam dunia data science, kompresi yang paling umum adalah Gzip (yang menggunakan [deflate algorithm](http://www.infinitepartitions.com/art001.html)). File Gzip diakhiri dengan ekstensi `.gz`.

In [38]:
import gzip

with open('./data/eog_djvu.txt', 'r') as f:
    text = f.read()

with gzip.open('./data/eog_djvu.txt.gz', 'wb') as f:
    f.write(text.encode('utf-8'))

Kita dapat melakukan compress teks The Epic of Gilgamesh hingga sepertiga dari ukuran aslinya! Ingat bahwa kompresi tergantung pada pola dalam data. Bahasa memiliki banyak pola, tetapi apa yang akan terjadi jika kita mengacak semua huruf dalam teks?

In [39]:
import numpy as np

with gzip.open('./data/eog_djvu_scrambled.txt.gz', 'wb') as f:
    f.write(np.random.permutation(list(text)))

Versi acak hanya dikompresi menjadi dua pertiga ukuran aslinya. Kompresi tidak akan bekerja dengan baik pada data acak. Kompresi juga tidak bekerja dengan baik pada data yang sudah kecil.

In [40]:
short_text = 'Hello'

with open('./data/short_text.txt', 'w') as f:
    f.write(short_text)

with gzip.open('./data/short_text.txt.gz', 'wb') as f:
    f.write(short_text.encode('utf-8'))

File terkompresi lebih besar dari teks semula! Itu karena file terkompresi menyertakan header, yang memakan sedikit ruang ekstra. Juga, karena teksnya sangat pendek, tidak mungkin menggunakan pola untuk merepresentasikan teks secara lebih efisien. Oleh karena itu kita biasanya menyimpan kompresi untuk file besar.

Anda mungkin telah memperhatikan bahwa ketika kita menulis file Gzip, kita telah menggunakan flag `'wb'` alih-alih flag `'w'` biasa. Ini karena Gzip bukan teks biasa. Saat mengompresi file, kita menulis file _binary_. File tidak dapat dibaca sebagai teks biasa.

Kita hanya boleh menggunakan `'w'` untuk file teks biasa / plain (yang mencakup CSV dan JSON). Menggunakan `'w'` sebagai ganti `'wb'` untuk file Gzip, atau file lain yang bukan teks biasa (mis. gambar), dapat merusak file.

## Serialization (`pickle`)

Seringkali kita ingin menyimpan pekerjaan kita dengan Python dan kembali lagi nanti. Namun, pekerjaan itu mungkin merupakan model machine learning atau objek kompleks lainnya dengan Python. Bagaimana cara kita menyimpan objek Python yang kompleks? Python memiliki modul untuk tujuan ini yang disebut `pickle`. Kita dapat menggunakan `pickle` untuk menulis file biner yang berisi semua informasi tentang objek Python. Nanti kita bisa memuat file pickle itu dan merekonstruksi objek dengan Python.

In [41]:
pickle_example = ['hello', {'a': 23, 'b': True}, (1, 2, 3), [['dogs', 'cats'], None]]

In [42]:
# kita tidak dapat menyimpan ini sebagai teks
with open('./data/pickle_example.txt', 'w') as f:
    f.write(pickle_example)

TypeError: write() argument must be str, not list

In [43]:
import pickle

# kita bisa menyimpannya sebagai pickle
with open('./data/pickle_example.pkl', 'wb') as f:
    pickle.dump(pickle_example, f)

with open('./data/pickle_example.pkl', 'rb') as f:
    reloaded_example = pickle.load(f)

reloaded_example

['hello', {'a': 23, 'b': True}, (1, 2, 3), [['dogs', 'cats'], None]]

In [44]:
#contoh hasil reload sama dengan aslinya
reloaded_example == pickle_example

True

Pickle adalah alat penting bagi data scientist. Pemrosesan data dan training model machine learning dapat memakan waktu lama, dan berguna untuk menyimpan checkpoints.

Pandas juga memiliki metode `to_pickle` dan `read_pickle`.

## Format file NumPy

NumPy juga memiliki metode untuk menyimpan dan memuat data yang cukup mudah digunakan. Anda mungkin akan menemukan ini saat bekerja dengan machine learning libraries tertentu yang memerlukan data disimpan dalam array NumPy. Array NumPy juga sering digunakan saat bekerja dengan data gambar.

In [45]:
sample_array = np.random.random((4, 4))
print(sample_array)

[[0.58011222 0.45412556 0.67194089 0.95373616]
 [0.98904949 0.41863839 0.11120539 0.72917135]
 [0.65534586 0.5349473  0.51731426 0.70486333]
 [0.32343041 0.14631825 0.40125976 0.03489232]]

In [46]:
# untuk menyimpan sebagai teks biasa
np.savetxt('./data/sample_array.txt', sample_array)

In [47]:
print(np.loadtxt('./data/sample_array.txt'))

[[0.58011222 0.45412556 0.67194089 0.95373616]
 [0.98904949 0.41863839 0.11120539 0.72917135]
 [0.65534586 0.5349473  0.51731426 0.70486333]
 [0.32343041 0.14631825 0.40125976 0.03489232]]

In [48]:
# untuk menyimpan sebagai biner terkompresi
np.save('./data/sample_array.npy', sample_array)

In [49]:
print(np.load('./data/sample_array.npy'))

[[0.58011222 0.45412556 0.67194089 0.95373616]
 [0.98904949 0.41863839 0.11120539 0.72917135]
 [0.65534586 0.5349473  0.51731426 0.70486333]
 [0.32343041 0.14631825 0.40125976 0.03489232]]